/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header {
    background-color: #333;
    color: #fff;
    padding: 5px;
  }

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    background-color: #2196F3;
    padding: 5px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
  }

  .E1_str {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .H2_str {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .G3_str {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .D4_str {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  .A5_str {
    grid-column-start: 1;
    grid-row-start: 5;
  }
  .E6_str {
    grid-column-start: 1;
    grid-row-start: 6;
  }

  .E1_tabs {
    grid-column-start: 7;
    grid-row-start: 1;
  }
  .H2_tabs {
    grid-column-start: 6;
    grid-row-start: 2;
  }
  .G3_tabs {
    grid-column-start: 5;
    grid-row-start: 3;
  }
  .D4_tabs {
    grid-column-start: 4;
    grid-row-start: 4;
  }
  .A5_tabs {
    grid-column-start: 3;
    grid-row-start: 5;
  }
  .E6_tabs {
    grid-column-start: 2;
    grid-row-start: 6;
  }

  .notes {
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
  }

  .pattern {
    background-color: #9d2020;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
  }

  .low_fret {
    background-color: #209d37;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
  }

  .high_fret {
    background-color: #da0016;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
  }
  
  .ex_name {
    background-color: #1e00ff;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
  }
  
  .generate {
    background-color: #6f718b;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
  }

  .another {
    font-size: 35px;
  }